* {
    margin: 0;
}

body {
    font-family: sans-serif;
}

.banner {
    width: 100%;
    padding: 120px 80px;
    background-image: url(/Assets/banner-topo.jpg);
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
}

.banner .top {
    max-width: 260px;
    color: #3c184e;
}

.first_paragraph {
    font-size: 35px;
    margin: 0 0 5px 0;
    font-weight: bold;
}

.first_paragraph img {
    width: 30px;
    margin-right: 5px;
}

.second_paragraph {
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}

.title {
    max-width: 1024px;
    border-radius: 10px;
    padding: 40px;
    margin: 70px auto 0 auto;
    background-color: #ffffffc4;
    box-shadow: 0 8px 32px #1f26875e;
}

.title h1 {
    font-size: 60px;
    color: #3c184e;
    text-align: center;
    font-weight: 800;
    margin: 0 0 40px 0;
}

.title p {
    width: 200px;
    padding: 10px 25px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #3c184e;
    font-size: 20px;
    text-align: center;
}

.title a {
    text-decoration: none;
    color: #ffff;
}

.title img {
    width: 20px;
}

.services {
    width: 100%;
    padding: 120px 80px;
    box-sizing: border-box;
}

.services h3,
.brands h3,
.where_are_we h3 {
    font-size: 36px;
    color: #3c184e;
    text-align: center;
    margin: 0 0 45px 0;
}

.list {
    max-width: 800px;
    margin: 0 auto 50px auto;
    color: #3c184e;
}

.list li {
    font-size: 20px;
    margin: 0 0 20px 0;
}

.list span {
    font-weight: 700;
    font-style: italic;
}

.carousel {
    width: 800px;
    margin: 0 auto;
    text-align: center;
}

.carousel img {
    border-radius: 5px;
    box-shadow: 3px 6px 10px 6px #0000005c;
}

.social_media,
.social_media_banner {
    padding: 100px 80px;
    background-color: #3c184e;
    text-align: center;
}

.social_media p,
.social_media_banner p {
    max-width: 800px;
    margin: 0 auto 50px auto;
    font-size: 40px;
    color: #fff;
    text-align: center;
}

.name {
    font-weight: 700;
    font-style: italic;
}

.images_social_media {
    text-align: center;
}

.images_social_media a {
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
}

.images_social_media img {
    width: 50px;
    height: 50px;
}

.brands {
    width: 100%;
    padding: 120px 80px;
    box-sizing: border-box;
}

.card_brands {
    max-width: 800px;
    margin: 0 auto;
}

.card_brands img {
    width: 148px;
    height: 148px;
    margin: 0 15px;
}

.where_are_we {
    width: 100%;
    padding: 100px 80px;
    text-align: center;
    box-sizing: border-box;
}

.where_are_we p {
    font-size: 20px;
    color:#3c184e;
    text-align: center;
    margin: 0 0 45px 0;
}

.where_are_we iframe {
    width: 800px;
    height: 450px;
    box-shadow: 10px 10px 10px #1f26875e;
    border-radius: 10px;
}

.footer{
    width: 100%;
    padding: 10px 0;
    background-color: #3c184e;
}

.footer p {
    color: #fff;
    font-size: 12px;
    text-align: center;
}